

.header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  display: block ;
  align-items: flex-start;
  background-color:white;
  Color: rgb(94, 81, 210);
  font-weight: 700;

}

.navBar{
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  display: block;
  padding: 0px 5px ;
  align-items: flex-start;
  background-color: rgb(238, 23, 23);
  color:rgb(88, 24, 24);
  font-weight: 100;
}

.main{
  position:relative  ;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  display: block;
  padding: 0px 5px ;
  align-items: flex-start;
  background-color:white;
  color: rgb(31, 19, 87);
  font-weight: 700;
}

.img-responsive {
  
  display: block;
  width: auto;
  height: auto;
  
}
