<!-- Toolbar -->
<div class="navBar" role="banner">
 <!--<span> {{ titulBarraNavegacion }}</span>
  <div class="spacer"></div>-->

  <ul>
    <li><a href="#">Agencias</a></li>
    <li><a href="#">Encomiendas</a></li>
    <li><a href="#">Viajes Especiales</a></li>
    <li><a href="#">Recorridos</a></li>
    <li><a href="#">Puntos de Venta</a></li>
    <li><a href="#">Contactos</a></li>
    <li><a href="#">Solicitud BEG</a></li>
    <li><a href="#">¿Quienes Somos?</a></li>
</ul>

</div>